<%-include('header')%>
    
    <div class="box">
        <%if(newListItem.length){%>
            <% newListItem.forEach((element) => { %>
                <form action="/delete" method="POST" >
                    <div class="item">
                        <input type="checkbox" value="<%= element._id %>" name="checkbox" onchange="this.form.submit()" >
                        <p> <%=element.name%> </p>
                    </div>
                    <% }) %>
                        <input type="hidden" name="listName" value="<%= dayOfWeek %>">  
                </form>
                 
        <%}%>
        
                
        <form class="item" method="POST" action="/">
            <input type="text" name='newTodoItem' placeholder="Add an item" autocomplete="off">
            <button type="submit" name="listName" value="<%= dayOfWeek %>" >+</button>
        </form>    
        
    </div> 
</body>
</html>